.bonus {
  width: 4ch;
}

.value {
  width: 5ch;
}

.counter {
  width: 8ch;
}

table {
  text-align: center;
}

th { padding: 0 10px; }

.item {
  background: #f0f0f0;
  padding: 5px;
  border: black;
  border-style: solid;
  border-width: 1pt;
}

.itemName {
  margin-right: 10pt;
}

.spacedTable {
  text-align: left;
}

.spacedTable td {
  padding: 0 8pt 0 0;
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}

.tab button.active {
  background-color: #ccc;
}

.content {
  padding: 10pt 0;
}

#sheet {
  display: none; /* Hide the sheet initially */
}
