.bonus {
  width: 4ch;
}

.value {
  width: 5ch;
}

table {
  text-align: center;
}

th { padding: 0 10px; }

.item {
  background: #f0f0f0;
  padding: 5px;
  border: black;
  border-style: solid;
  border-width: 1pt;
}

.itemName {
  margin-right: 10pt;
}
